<div id="gallery-screen" class="py-5">
  <div class="start-content">
    <div class="gallery-header mb-5">
      <h2 class="gallery-title">Jump back in time</h2>
    </div>
    <div class="row justify-content-center" id="scenario-container">
      <!-- Scenarios will be loaded dynamically here -->
    </div>

    <div class="text-center mt-5">
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#addScenarioModal"
      >
        <i class="fas fa-plus me-2"></i>Create New Scenario
      </button>
    </div>
  </div>
</div> 